<div class="container mt-4" style="background-color: #2596be; border-radius: 10px;">
  <h2 class="text-center text-white mb-4">Returns estimate</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center border-radius: 10px;">
        <div class="card-body">
          <h5 class="card-title ">3 years</h5>
          <p class="card-text">
            <% if @contributions.last != nil %>
              <% three_years = (@contributions.first(@contributions.count / 3)) %>
              <%= "$#{(three_years.last.total).round(2)}" %>
            <% else %>
              <%= "No contributions found" %>
            <% end %>
          </p>
          <p class="card-text">
            <% if @contributions.last != nil %>
              <%= "Invested: $#{three_years.last.total_amount.round(2)}" %>
            <% else %>
              <%= "" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">6 years</h5>
          <p class="card-text">
            <% if @contributions.last != nil %>
              <% year_six = @contributions.first((@contributions.count * 2 / 3.0).to_i) %>
              <%= "$#{(year_six.last.total).round(2)}" %>
            <% else %>
              <%= "No contributions found" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">9 years</h5>
          <p class="card-text">
            <% if @contributions.last != nil %>
              <%= "$#{(@contributions.last.total).round(2)}" %>
            <% else %>
              <%= "No contributions found" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
