<div class="container d-flex justify-content-center" style="background-color: #2596be; border-radius: 10px;">
  <div class="container px-5 mb-2 w-100">
    <div class="row">
      <div class="card col-4">
        <div class="card-body">
          <h4 class="card-title">Investment Settings:</h4>
          <div class="mb-3">
            <strong>Symbol:</strong> <%= @investment.etf.ticker_symbol %>
          </div>
          <div class="mb-3">
            <strong>Average Return:</strong> <%= "#{(@investment.etf.average_return * 100).round(2)}%" %>
          </div>
          <div class="mb-3">
            <strong>Risk Level:</strong> <%= @investment.risk_level %>
          </div>
          <div class="mb-3">
            <strong>Prev Closing Price:</strong> $<%= @investment.etf.current_price %>
          </div>
          <div class="mb-3">
            <strong>Monthly Contribution:</strong> $<%= @investment.contributions.last.amount %>
          </div>
          <%= link_to 'Back to Investments', investments_path, class: 'btn btn-secondary' %>
        </div>
      </div>

      <%= render 'shared/investment_graph' %>
    </div>
  </div>
</div>
