<div class="container row d-flex justify-content-center" style="background-color: #2596be; border-radius: 10px;">
  <h1 class="text-center text-white my-4"><%= "#{@investment.name} / #{@investment.etf.name}" %></h1>
</div>
<%= render 'form_create_contribution' %>
<% unless @investment.contributions.last.nil? %>
  <%= render 'investment_info' %>
  <%= render 'display_investment_details' %>
  <div class="edit-button">
    <%= link_to 'Interactive Brokers', "https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiawfbCjouKAxUO1hYFHXowH2IYABAAGgJ0bA&co=1&ase=2&gclid=CjwKCAiA0rW6BhAcEiwAQH28IsOrG89UOaLypdXWZSVwA2y1WF0v_qtEY300Ej4xxrCAFW_2euo5OBoCVXIQAvD_BwE&ohost=www.google.com&cid=CAESVOD2ws4U3JPj4_ENJLx9AyGefJEY3n4ZdJ3dKX2fm7xt8rvI3rcABlqTCKdFlSRHtldfo5hrcSpPpDWqL90aOp1hLbzbHr5VwbA-tLgjZdtRjn1ebw&sig=AOD64_1uDU-OFzxjMTMYwaiZiqDz1Qi1Kg&q&nis=4&adurl&ved=2ahUKEwjshfHCjouKAxX31jQHHeyLJYcQ0Qx6BAgNEAE", class: "btn btn-primary interactive-brokers-link", target: "_blank" %>
  </div>
<% end %>

<style>
  .edit-button .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #007bff; /* Bootstrap primary color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Optional: Adjust as needed */
  }

  .edit-button .btn:hover {
    background-color: #0056b3; /* Darker shade of blue */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  .edit-button .btn:active {
    background-color: #004080;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
  }

  .edit-button .interactive-brokers-link {
    margin: 10px 0;
  }
</style>
