  <h1 class="text-center my-4"><%= @investment.name %></h1>
  <div class="container row d-flex justify-content-center">
    <div class="card col-3 d-flex justify-content-center">
      <div class="card-body">
        <h5 class="card-title">Investment Settings</h5>
        <div class="mb-3">
          <strong>Symbol:</strong> <%= @investment.etf.ticker_symbol %>
        </div>
        <div class="mb-3">
          <strong>Average Return:</strong> <%= @investment.etf.average_return %>%
        </div>
        <div class="mb-3">
          <strong>Risk Level:</strong>
          <p class="btn btn-dropdown"><%= @investment.risk_level %></p>
        </div>
        <div class="mb-3">
          <strong>Effective Return:</strong>
          <p class="btn btn-primary"><%= @investment.etf.average_return %></p>
        </div>
        <div class="mb-3">
          <strong>Current Price:</strong> $<%= @investment.etf.current_price %>
        </div>
        <%= link_to 'Back to Investments', investments_path, class: 'btn btn-secondary' %>
      </div>
    </div>
    <div class="card col-7 justify-content-center"><%= line_chart @cumul_count%> </div>
  </div>
  <div class="container d-flex justify-content-center">
  <table class="table table-striped">
  <% @contributions.each do |c| %>
  <%= c.amount %>
  <% end %>
  </table>
  </div>

<%= render 'form_create_contribution' %>
