  <div class="" >

    <p>Top Holdings:</p>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>% Assets</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>

        <% @filtered_holdings = @top_holdings.select { |holding| holding.description != "n/a" && !holding.ai_resume.nil? } %>
        <% @sorted_filtered_holdings = @filtered_holdings.sort_by { |holding| holding.weight } %>

<% @sorted_filtered_holdings.first(3).each do |holding| %>
  <tr>
    <td><%= holding.symbol %></td>
    <td><%= holding.description %></td>
    <td><%= (holding.weight * 100).round(3) %></td>
    <td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aiResumeModal-<%= holding.id %>">
        View
      </button>

      <!-- Modal -->
      <div class="modal fade" id="aiResumeModal-<%= holding.id %>" tabindex="-1" aria-labelledby="aiResumeModalLabel-<%= holding.id %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="aiResumeModalLabel-<%= holding.id %>">Gemini's opinion on <%= holding.symbol %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= holding.ai_resume %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
<% end %>
      </tbody>
    </table>
  </div>
<% if @trigger_display_investment_button == "false" %>
  <div class="d-flex justify-content-center">
    <div class="simulate-button-container text-center">
            <%= render 'button_create_investment' %>
            <% if current_user.favorite_etfs.include?(@etf) %>
              <%= button_to etf_favorite_path(@etf), method: :delete, class: 'favorites-remove-button' do %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% else %>
              <%= button_to etf_favorite_path(@etf), method: :post, class: 'simulate-now-button' do %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
    </div>
  </div>
  <% else %>
    <div class="edit-button">
    <%= link_to 'Interactive Brokers', "https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiawfbCjouKAxUO1hYFHXowH2IYABAAGgJ0bA&co=1&ase=2&gclid=CjwKCAiA0rW6BhAcEiwAQH28IsOrG89UOaLypdXWZSVwA2y1WF0v_qtEY300Ej4xxrCAFW_2euo5OBoCVXIQAvD_BwE&ohost=www.google.com&cid=CAESVOD2ws4U3JPj4_ENJLx9AyGefJEY3n4ZdJ3dKX2fm7xt8rvI3rcABlqTCKdFlSRHtldfo5hrcSpPpDWqL90aOp1hLbzbHr5VwbA-tLgjZdtRjn1ebw&sig=AOD64_1uDU-OFzxjMTMYwaiZiqDz1Qi1Kg&q&nis=4&adurl&ved=2ahUKEwjshfHCjouKAxX31jQHHeyLJYcQ0Qx6BAgNEAE", class: "simulate-now-button interactive-brokers-link", target: "_blank" %>
    </div>
<% end %>
