  <div class="container" style="width: 50%;">
    <h3>Composition</h3>
    <p>Top Holdings:</p>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>% Assets</th>
          <th>Resume</th>
        </tr>
      </thead>
      <tbody>

        <% @filtered_holdings = @top_holdings.select { |holding| holding.description != "n/a" && !holding.ai_resume.nil? } %>
        <% @sorted_filtered_holdings = @filtered_holdings.sort_by { |holding| holding.weight } %>

<% @sorted_filtered_holdings.first(3).each do |holding| %>
  <tr>
    <td><%= holding.symbol %></td>
    <td><%= holding.description %></td>
    <td><%= (holding.weight * 100).round(3) %></td>
    <td>
      <button type="button" class="search-button" data-bs-toggle="modal" data-bs-target="#aiResumeModal-<%= holding.id %>">
        View AI Resume
      </button>

      <!-- Modal -->
      <div class="modal fade" id="aiResumeModal-<%= holding.id %>" tabindex="-1" aria-labelledby="aiResumeModalLabel-<%= holding.id %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="aiResumeModalLabel-<%= holding.id %>">AI Resume for <%= holding.symbol %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= holding.ai_resume %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
<% end %>
      </tbody>
    </table>
  </div>
