      <div class="card-body">
        <h5 class="card-title">Investment Settings</h5>
        <div class="mb-3">
          <strong>Symbol:</strong> <%= @etf.ticker_symbol %>
        </div>
        <div class="mb-3">
          <strong>Average Return:</strong> <%= (@etf.average_return * 100).round(2) %>%
        </div>
        <div class="mb-3">
        <div class="mb-3">
          <strong>Effective Return:</strong>
          <p class="btn btn-primary"><%= (@etf.average_return * 100).round(2) %></p>
        </div>
        <div class="mb-3">
          <strong>Previous Closing Price:</strong> $<%= @etf.current_price %>
        </div>
      </div>
    </div>
    <div class="card col-7 justify-content-center"><%= line_chart @cumul_count%> </div>
  </div>
