<div>
  <div class="simulate-button-container text-center">
    <%= render 'button_create_investment' %>
    <% if current_user.favorite_etfs.include?(@etf) %>
      <%= button_to etf_favorite_path(@etf), method: :delete, class: 'favorites-remove-button' do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
    <% else %>
      <%= button_to etf_favorite_path(@etf), method: :post, class: 'simulate-now-button' do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
  </div>
  <div class="container">
      <div class="col">
        <div class="card-body">
          <%# <h4 class="card-title">Basic Information:</h4> %>
          <div class="col"> <%= render 'shared/basic_info' %></div>
        </div>
      </div>
    <div class="row">
      <div class="col">
        <div class="etf-graph-example">
          <%= render 'shared/investment_graph' %>
        </div>
      </div>
      <div class="col"><%= render 'shared/render_holdings' %></div>
    </div>
  </div>


  <div class="d-flex justify-content-center" style="text-align: center">
    <%= render 'button_create_investment' %>
  </div>
</div>
